.event__navigation {
	column-gap: 20px;
	display: grid;
	grid-template-areas: "previous next";
	grid-template-columns: 1fr 1fr;

	@include screen-sm-down {
		column-gap: 0;
		grid-template-areas:
			"previous"
			"next";
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
}

.event__navigation__item {
	color: var(--wcfContentText);
	display: grid;
	grid-template-rows: repeat(2, minmax(0, max-content));
	position: relative;

	&.event__navigation__item--previous {
		grid-area: previous;
		grid-template-areas: "icon content";
		grid-template-columns: 60px auto;
	}

	&.event__navigation__item--next {
		grid-area: next;
		grid-template-areas: "content icon";
		text-align: right;
	}

	&.event__navigation__item--withImage {
		&.event__navigation__item--previous {
			grid-template-areas: "icon image content";
			grid-template-columns: 60px 96px auto;
		}

		&.event__navigation__item--next {
			grid-template-areas: "content image icon";
			grid-template-columns: auto 96px 60px;
			text-align: right;
		}
	}
}

.event__navigation__item__icon {
	align-self: center;
	grid-area: icon;
}

body:not(.touch) .event__navigation__item:hover .event__navigation__item__icon {
	color: var(--wcfContentLinkActive);
}

.event__navigation__item__image {
	border-radius: 3px;
	grid-area: image;
	overflow: hidden;
}

.event__navigation__item--previous.event__navigation__item--withImage .event__navigation__item__content {
	margin-left: 20px;
}

.event__navigation__item--next.event__navigation__item--withImage .event__navigation__item__content {
	margin-right: 20px;
}

.event__navigation__item__content {
	grid-area: content;
}

.event__navigation__item__entityName {
	color: var(--wcfContentDimmedText);
	display: block;
}

.event__navigation__item__title {
	display: block;
	margin-top: 5px;

	@include wcfFontHeadline;
}

.event__navigation__item__link {
	color: var(--wcfContentText);

	&::before {
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
